

body{
    margin: 0;
    background-image: url("ocean.jpeg");
    padding-right: 0;
    border: 0;
    background-size: 1536px 734px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}

canvas{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

/* main divs */

#page {
    height: 100%; 
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#titleblock {
    height: 160px; 
    width: 800px;
    /*padding-left: 10px; */
    text-align: center;
}


/*Heading formatting*/

h1 {
    font-family: "Courier";
    text-decoration: underline;
    font-weight: 900;
    font-size: 60px;
    color: #F39C45;
}

h2 {
    font-family: "Cursive";
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    color: black;
}

/*IDs are for the panels*/

#panel1 {
    position:relative;
    height: 280px;
    width: 780px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}

#panel2 {
    position:relative;
    height: 280px;
    width: 280px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}

#panel3 {
    position:relative;
    height: 280px;
    width: 480px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}

#panel4 {
    position:relative;
    height: 280px;
    width: 480px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}

#panel5 {
    position:relative;
    height: 280px;
    width: 280px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}
#panel6 {
    position:relative;
    height: 280px;
    width: 280px;
    border:10px solid #2b2b2b;
    float: left;
    background-color: #000;
    overflow: hidden;
}
#panel7 {
    position:relative;
    height: 280px;
    width: 480px;
    border:10px solid #2b2b2b;
    float: right;
    background-color: #000;
    overflow: hidden;
}

/*Text Style Classes*/

.narration {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 12px;
    padding: 15px;
    color: white;
    margin: 10px;
    background-color: #2b2b2b;
}

.speech {
    font-family: "Comic Sans MS";
    color: white;
    font-style: bold;
    font-weight: 900;
    font-size: 20px;
    border-radius: 1em;
    border-color: white;
    padding: .25em 1em;
    background-color: #3694D2;
    line-height: 100%;
    margin: 20px;
}

.speech:after {
    content: ' ';
    width: 0;
    height: 0;
    left: 30px;
    top: 100 px;
    position: absolute;
    border:10px solid;
    border-color: #3694D2 transparent transparent #3694D2;
}

.end:after {
    display: none;
}

/* Positioning of Text */

.left {
    position:absolute;
    left: 0;
}

.right {
    position:absolute;
    right: 0;
}

.top {
    position:absolute;
    top: 0;
}

.bottom {
    position:absolute;
    bottom: 0;
}
.up{
    width: 90px;
}

/*.ATTEMPT at speech bubble --> fail

arrow {
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid black;
}*/

  
/*Fitting Images*/

#image1 {
    position: absolute;
    width:100%;
    top: -50px
}

#image2 {
    position: absolute;
    height:100%;
}

#image3 {
    position: absolute;
    width:110%;
}

#image4 {
    position: absolute;
    width:120%;
    
}

#image5 {
    position: absolute;
    height:100%;
    left:-30px;    
}
#image6 {
    position: absolute;
    height:100%; 
    right: -45px;
}
#image7 {
    position: absolute;
    height:100%; 
    right: -10px;
}

/* Ordering Elements*/

.inback {
    z-index: 1;
}

.inmiddle {
    z-index: 2;
}

.infront{
    z-index: 3;
}

/* image styling */

.panel img {
    opacity: 0.5;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.panel img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}